html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.movie-page-btn-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.movie-page-btn-container button {
	background-color: aliceblue;
	padding: 5px;
	border-radius: 5px;
}
